* {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
}


body {
    background-attachment: fixed;
    background-image: url(/Arnold_team-main/Arnold_team-main/main/assets/img/hatter.jpg);
    background-repeat: no-repeat;
    background-size: auto;
}

nav {
    text-transform: uppercase;
    font-size: 26px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    word-spacing: 20px;
}

.menu_pont {
    text-decoration: none;
    color: white;
}

.menu_pont:hover {
    text-shadow:
        0 0px 0 rgb(0, 0, 0),
        0 1px 2px rgb(255, 255, 255),
        0 5px 2px rgb(0, 0, 0);
    transition: all 0.45s ease-in-out;
    cursor: pointer;
    font-size: 35px;
    text-decoration: underline;
    color: gray;
}

.main {
    background-color: white;
    width: 100%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;
}

.main h1 {
    font-size: 25px;
    color: red;
    font-weight: 600;
    border-bottom: 1px solid #333;
    padding-bottom: 30px;
}

.quiz {
    padding: 20px 0;
}

.quiz h2 {
    font-size: 18px;
    color: rgb(5, 27, 5);
    font-weight: 600;
}

.btn {
    background-color: white;
    color: black;
    font-weight: 500;
    width: 100%;
    border: 1px solid black;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
}

.btn:hover:not([disabled]) {
    background-color: black;
    color: white;
}

.btn:disabled {
    cursor: no-drop;
}

#next-btn {
    background-color: rgb(5, 27, 5);
    color: white;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: none;
}

.correct {
    background-color: lightgreen;
}

.incorrect {
    background-color: #ff9393;
}

.col {
    padding-left: 65px;
    padding-right: 65px;
    padding-top: 50px;
}

.filmlinkek {
    text-decoration: none;
}

.filmlinkek:hover {
    text-shadow:
        0 3px 2px black,
        0 5px 2px black,
        0 7px 2px black,
        0 10px 2px black;
    transition: all 0.45s ease-in-out;
    cursor: pointer;
    font-size: larger;
}

.footer-distributed {
    background-color: #2d2a30;
    opacity: 0.8;;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 50px 50px 60px 50px;
    margin-top: 80px;
}

.footer-left,
.footer-center,
.footer-right {
    display: inline-block;
    vertical-align: top;
    padding-right: 150px;
}

.footer-left {
    width: 30%;
}

.footer-distributed h3 {
    color: #ffffff;
    font: normal 36px 'Cookie', cursive;
    margin: 0;

}


.footer-distributed h3 span {
    color: #e0ac1c;
}


.footer-distributed .footer-linkek {
    color: #ffffff;
    margin: 20px 0 12px;
}

.footer-linkek a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
    transition: all 0.5s ease-in-out;
}

.footer-center i {
    color: #ffffff;
    font-size: 1.563rem;
    width: 38px;
    height: 38px;
    text-align: center;
    margin: 10px 15px;
    vertical-align: middle;
    width: 33%;
}


.footer-center p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0;
}

.footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 0.875rem;
    line-height: 2;
}

.footer-distributed {
    margin-top: 25px;
}
nav {
    background-color: #333;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    opacity: 100%;
    max-height: 100%;
    width: 100%;
  }
  
  nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  
  }
  
  nav li {
    height: 5.5rem;
  }
  
  nav a {
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: white;
    font-size: 100%;
  }
  
  nav a:hover {
    background-color: rgb(73, 73, 73);
    color: white;
    text-decoration: none;
    transition: 0.15s;
  }
  
  nav li:first-child{
    margin-right: auto;
  
  }
  
  .sidebar{
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    max-height: 30rem;
  }
  
  
  .sidebar li{
    width: 100%;
  }
  
  .sidebar a{
   width: 100%;
   color: white;
   font-weight: bold;
   font-size: larger;
  }
  
  .menu-button{
    display: none;
    
  }
  
  @media(max-width: 800px){
    .hideOnMobile{
      display: none;
    }
    .menu-button{
      display: block;
    }
  }
  
  @media(max-width: 400px){
    .sidebar{
      width: 100%;
    }
  }
  
  .arnoldheader{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: white;
    font-size: 100%;
    font-weight: bold;
  }
  